@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* shared styels */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: #ff8f0e33;
}
.text-primary{
    color: #FF900E;
}

.text-gray{
    color: #424242;
}

.text-lightgray{
    color: #727272;
}
.primary-btn{
    background-color: #FF900E;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styels */


/* navbar realted styels */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
}

.nav-item{
    list-style: none;
    margin-left: 35px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* teams and fretures */

.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-fetures{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* freaturs-section-title */
.freaturs{
    gap: 150px;
}
#freaturs-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.fretures-card, .fretures-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0px ;
    margin-bottom: 0px;
}
.fretures-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.6);
    margin-bottom: 20px; 
    border-radius: 8px;
}
#Experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -86px;
}
#Experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.fretures-img{
    width: 100%;
}

/* facts-card */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    padding-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}

/* sponsour */

.sponsour-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsours-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsours-company{
    filter: grayscale(100%);
}



/* reponsive quray */

@media screen and (max-width:576px) {
    .navbar,
    .navlinks, 
    .teams{
        flex-direction: column;
    }

    .team-img-container, 
    .facts-container,
    .sponsours-company
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container, 
    .sponsours-company{
        justify-items: center;
        gap: 24px;
    }

    .our-fetures{
        margin-left: 20px;
    }
    #Experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .freaturs{
        flex-direction: column;
        margin: 50px auto;
    }
    .sponsours-company{
        grid-template-columns: repeat(2, 1fr);
        gap: 45px;
    }
    #Experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}